.square {
    height: 75px;
    width: 75px;
    background-color: dodgerblue;
    margin: 1px;
    border: 5px;
    border-color: black;
    text-align: center;
    color: dodgerblue;
}


.winner {
    color: black;
    background-color: white;
}

