.square {
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    margin: 1px;
    border: 5px;
    border-color: black !important;
    text-align: center;
    color: dodgerblue;
    font-size: 50px;
}


.winner {
    color: red;
    background-color: white;
}

